<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= defineContent('title') || 'YelpCamp' %></title>
    <link rel="stylesheet" href="/css/bootstrap-flatly.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <%- defineContent('style') %>
</head>

<script src='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css' rel='stylesheet' />

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <main class="container mb-5" style="margin-top: 96px !important">
        <%- include('../partials/flash') %>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/bootstrap.min.js"></script>
    <%- script %>


</body>

</html>