<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= defineContent('title') || 'YelpCamp' %></title>
    <link rel="stylesheet" href="/css/bootstrap-flatly.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <%- defineContent('style') %>
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <main class="container my-4">
        <%- include('../partials/flash') %>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/bootstrap.min.js"></script>
    <%- script %>
</body>

</html>