<%- contentFor('title') %>
Edit Campground
<%- contentFor('body') %>
<form class="form" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
    <div class="mb-2">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control" name="campground[title]" value="<%= campground.title %>">
    </div>
    <div>
        <label for="location" class="form-label">Location</label>
        <input type="text" id="location" class="form-control" name="campground[location]" value="<%= campground.location %>">
    </div>
    <button type="submit" class="my-3 btn btn-success">Confirm</button>

    <footer>
        <a href="/campgrounds">Back to all</a>
    </footer>
</form>