<%- contentFor('title') %>
YelpCamp - Home
<%- contentFor('body') %>
<h1>Campgrounds:</h1>

<!-- <a href="/campgrounds/new">Add new</a> -->

<ul>
    <% for (let camp of campgrounds) { %>
    <li class="my-1">
        <a href="/campgrounds/<%= camp._id %>">
            <b><%= camp.title %> (<%= camp.location %>)</b>
        </a>
    </li>
    <% } %>
</ul>