<%- contentFor('title') %>
Campground: <%= campground.title %>
<%- contentFor('body') %>


<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <img class="card-img-top" src="<%= campground.imagePath %>" alt="">
            <div class="card-body">
                <h2 class="card-title"><%= campground.title %></h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">
                        <h4><%= campground.location %></h4>
                    </li>
                    <li class="list-group-item px-0">
                        <%= campground.description %>
                    </li>
                    <li class="list-group-item px-0">
                        $<%= campground.price %> / night
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <a class="card-link btn btn-info py-1 me-1" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                <form class="d-inline me-1" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger py-1" type="submit">Delete</button>
                </form>
                <a class="card-link btn btn-secondary py-1" href="/campgrounds">Back to all</a>
            </div>
        </div>
    </div>
</div>