<%- contentFor('title') %>
Campground: <%= campground.title %>
<%- contentFor('body') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <section class="card">
                <img class="card-img-top" src="<%= campground.imagePath %>" alt="">
                <div class="card-body">
                    <h2 class="card-title"><%= campground.title %></h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-0">
                            <h4><%= campground.location %></h4>
                        </li>
                        <li class="list-group-item px-0">
                            <%= campground.description %>
                        </li>
                        <li class="list-group-item px-0">
                            by <%= campground.owner.username %>
                        </li>
                        <li class="list-group-item px-0">
                            $<%= campground.price %> / night
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <% if (user?._id.equals(campground.owner._id)) { %>
                    <a class="card-link btn btn-info py-1 me-1" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="d-inline me-1" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger py-1" type="submit">Delete</button>
                    </form>
                    <% } %>
                    <a class="card-link btn btn-secondary py-1" href="/campgrounds">Back to all</a>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <section class="mb-3 list-group">

                <h4 class="list-group-item my-0">Add a review</h4>
                <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" class="form list-group-item" novalidate>
                    <div class="mb-2">
                        <label for="rating" class="form-label">Rating: </label>
                        <input type="range" min="1" max="10" value="7" step="1" id="rating" class="form-range" name="review[rating]" oninput="this.nextElementSibling.value = this.value" required>
                        <output class="form-label">7</output>
                    </div>
                    <div class="mb-2">
                        <label for="content" class="form-label">Review: </label>
                        <textarea rows="3" id="content" class="form-control" name="review[content]" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Send</button>
                </form>
            </section>

            <!-- <h4 class="card list-group-item my-0">All reviews</h4> -->
            <ul class="list-group">
                <% for (let review of campground.reviews) { %>
                <li class="card list-group-item mb-3 border">
                    <div class="d-flex justify-content-between">
                        <div class="card-body p-0">
                            <h5 class="card-title">
                                <b><%= review.rating %></b><small class="text-secondary">/10</small>
                            </h5>
                            <p class="card-subtitle mb-2 "><span class="text-secondary">by </span><%= review.author.username %></p>
                            <p class="card-text mb-2"><%= review.content %></p>
                        </div>
                        <% if (user?._id.equals(review.author?._id)) { %>
                        <form class="d-inline" action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm dtn-danger float-end p-1">&#x2716;</button>
                        </form>
                        <% } %>

                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>

</div>
<script src="/js/formValidate.js"></script>